.navbar {
  padding: 16px;
  background-color: var(--dark-gray);
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-head {
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: var(--orange);
  font-weight: 500;
}

.nav-items {
  display: flex;
  margin-left: auto;
  margin: 0;
  padding-left: 0;
}
.nav-link {
  cursor: pointer;
  list-style: none;
}

.nav-link:not(:last-child) {
  margin-right: 10px;
}
