.button {
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  background-color: white;
  cursor: pointer;
}

.submit {
  background-color: var(--danger);
  color: white;
}

.reset {
  color: black;
  background-color: var(--light-gray);
}
